@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0A192F;
}
.logo img{
    height: 100px;
    margin: 20px;
    
    
}


/* landing section */
.hero .card h1{
    color: #CCD6F6;
}
.hero .card p{
    color: #8892B0;
}
.hero .card{
    display: flex;
    align-items: center;
    background-color: #0A192F;
}
/* about akan section */
.aboutakan .card{
    background-color: #0A192F;
}

.aboutakan .card-text{
    color: #77829F;
    font-size: 20px;
    font-weight: 500;
}
.aboutakan .card-title{
    color: #CCD6F6;
    font-weight: 700;

}
.aboutakan .row{
   display: flex;
   justify-content: center;
}
/* form section */
.details label{
    color: #8892B0;
    font-size: 20px;
    

}
.details p{
    color: #CCD6F6;
    font-size: 20px;
}
.details input{
    color: #77829F;
    font-size: 25px;
    
}
.results{
    height: 270px;
    
    width: 30%;
    background-color: aqua;
}
.details{
    display: flex;
    gap: 10%;
    
    
}
.sociallinks .card{
    
}













@media (max-width:500px){
    .logo img{
        display: flex;
        justify-content: center;
    }
}